.category-main {
  height: 100%;
}
.category-layout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
#category-index {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
}

.category-section {
  margin-right: auto;
  margin-left: auto;
  width: 1136px;
  max-width: 100%;
  box-sizing: border-box;
  min-height: 1px;
}
.category-index-section {
  margin-top: 50px;
}
.category-index-section > h1 {
  color: #000;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 14px;
  position: relative;
}

.category-index-section > h1 > a {
  font-size: 15px;
  font-weight: 700;
  color: #35c5f0;
  position: absolute;
  top: 0;
  right: 10px;
}

.category-item__content {
  padding: 10px;
}
.category-item__header {
  margin: 10px 0 0;
}

.category-item__header__brand {
  display: block;
  color: #757575;
  word-break: break-all;
  font-size: 15px;
  font-weight: 500;
  line-height: 13px;
}

.category-item__header__name {
  display: block;
  max-height: 34px;
  margin-top: 5px;
  word-break: break-all;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  color: #000;
  transition: opacity 0.1s;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
.category-item-price {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 17px;
  line-height: 23px;
  font-weight: 700;
}

.category-item-price__price {
  color: #000;
  margin-right: 4px;
}

.category-tags {
  display: flex;
}
.category-tags span {
  max-width: 100%;
  margin-right: 10px;
  padding: 2px 3px 0 3px;
  border: 1px solid #0c8a4e;
  border-radius: 50px;
  font-size: 13px;
  /* line-height: 1.69; */
  color: #0c8a4e;
  text-decoration: none;
  overflow: hidden;
}

.category-buy {
  all: unset;
  border-radius: 2px;
  cursor: pointer;
}
.category-buy-btn {
  background-color: #0c8a4e;
  color: white;
  padding: 5px;
  margin: 5px;
}
