:root {
  --main-key-color: #0c8a4e;
  --main-bg-color: #f9f9f9;
}

body {
  margin: 0px;
}
body header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 6em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
}
body header .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  width: 50em;
}
body header .header-wrapper .main-logo {
  display: block;
  background-repeat: no-repeat;
  width: 8em;
  height: 2.4em;
  transform: scale(0.8);
  background-color: var(--main-key-color);
}
body header .header-wrapper .search-btn-wrapper {
  border-radius: 1.8em;
  border: 0.2em solid var(--main-key-color);
  width: 15em;
  height: 1.8em;
}
body header .header-wrapper .search-btn-wrapper .search-bar {
  display: inline-block;
  width: 15em;
  height: inherit;
  margin-left: 0.6em;
  border: 0px solid transparent;
  background-color: transparent;
}
body header .header-wrapper .search-btn-wrapper .search-bar:focus {
  outline: none;
}
body header .header-wrapper .search-btn-wrapper .search-btn {
  display: inline;
  text-align: end;
}
body header .header-wrapper .welcome-word {
  font-size: 1em;
  font-weight: 600;
}
body header .header-wrapper .logout {
  font-size: 1em;
  font-weight: 600;
}