@import url(./header.scss);
@import url(./footer.css);
@import url(./main.css);
@import url(./my.scss);
@import url(./join.scss);
@import url(./login.scss);
@import url(./payment.css);
@import url(./paymentDone.css);
@import url(./admin.css);
