@font-face {
  font-family: "Jal_Onuel";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-key-color: #0c8a4e;
  --main-bg-color: #f9f9f9;
  --required-color: #de0404;
  --disable-color: #666666;
  --input-color: #d9d9d9;
}

#join {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 2em 0 0.5em 0;
    font-size: 32px;
    font-weight: 600;
  }

  .join--required {
    display: flex;
    float: right;
    margin: 0.5em 0 0.5em 75%;

    h3 {
      font-size: 18px;
      font-weight: 600;
      color: var(--disable-color);
    }
    span.required {
      padding: 1em 0.2em 0 0;
    }
  }

  .division-container {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    width: 84%;
    height: 65%;
    margin: 12.2px 0 13.4px 0;
  }

  span.required {
    color: var(--required-color);
    font-size: 18;
    font-weight: 600;
  }

  .join-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3em;
    padding-bottom: 2em;
    .label-wrapper {
      display: flex;
      margin: 18px 0;
      label.required-contents {
        display: flex;
        align-items: center;
        width: 10em;
        height: 4em;
        h5 {
          font-size: 18px;
          font-weight: 600;
        }
        span.required {
          margin: 0 0 8px 2px;
        }
      }
      button.validator-btn {
        display: inline-block;
        width: 6.5em;
        height: 4.5em;
        margin-left: 0.5em;
        padding: 0.7em 0.4em 0.5em 0.5em;
        cursor: pointer;
        border: 2px solid var(--main-key-color);
        border-radius: 6px;
        color: var(--main-key-color);
        background-color: transparent;
        font-weight: 600;
      }

      //중복확인 모달
      .email-check-box {
        padding: 10px 0px;
        margin-top: 50px;
        width: 351px;
        height: 290px;
        background-color: #fff;
        border-radius: 0.3em;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        .email-check-ment {
          color: #000;
          font-size: 18px;
        }
        .email-check-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 35px;
          width: 289px;
          margin: 0 0.4em 5px 0;
          background-color: var(--main-key-color);
          border-radius: 0.3em;
          border: none;
          font-size: 0.7em;
          font-weight: 500;
          color: #fff;
          cursor: pointer;
        }
      }

      input {
        width: 20em;
        height: 3.5em;
        padding-left: 10px;
        border-radius: 6px;
        border: 2px solid var(--input-color);
        color: var(--disable-color);
        font-size: 16px;
        font-weight: 600;
      }
      .sized-box {
        width: 100px;
        &--dN {
          margin-left: 89px;
        }
        &--pw {
          margin-left: 90px;
        }
        &--pwc {
          margin-left: 90px;
        }
        &--file {
          margin-right: 5px;
        }
      }
    }

    #filebox {
      /* named upload */
      input.upload-name {
        width: 20em;
        height: 3.5em;
        border: 2px solid var(--input-color);
        border-radius: 6px;
        -webkit-appearance: none; /* 네이티브 외형 감추기 */
        -moz-appearance: none;
        appearance: none;
      }
      button.upload-btn {
        display: inline-block;
        width: 6.5em;
        height: 4.5em;
        margin-left: 0.5em;
        padding: 0.8em 0.4em 0.5em 0.5em;
        cursor: pointer;
        border: 2px solid var(--main-key-color);
        border-radius: 6px;
        color: var(--main-key-color);
        font-weight: 600;
        background-color: transparent;
      }
      /* 파일업로드 외형 감추기 */
      > input[type="file"]#input_file {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border-color: none;
      }
    }

    /* imaged preview */
    .filebox .upload-display {
      /* 이미지가 표시될 지역 */
      margin-bottom: 5px;
    }

    @media (min-width: 768px) {
      .filebox .upload-display {
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 0;
      }
    }

    /* 추가될 이미지를 감싸는 요소 */
    .filebox .upload-thumb-wrap {
      display: inline-block;
      width: 54px;
      padding: 2px;
      vertical-align: middle;
      border: 2px solid var(--main-key-color);
      border-radius: 5px;
    }

    .filebox .upload-display img {
      display: block;
      max-width: 100%;
      width: 100% \9;
      height: auto;
    }
  }
  .label-wrapper {
    &--agree {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 84%;
      height: 65%;
      margin: 3em 3em 3em 0;
      .required-contents {
        display: flex;
        width: 10em;
        margin: 0 50px 180px 0;
        h5 {
          font-size: 18px;
          font-weight: 600;
        }
        span.required {
          margin: 0 0 10px 3px;
        }
      }
      .check-wrapper {
        padding-right: 50px;
        .check-item:first-child {
          label {
            font-size: 23px !important;
            font-weight: 600;
            color: var(--disable-color);
            padding-top: 0.4em !important;
          }
        }
        .check-item {
          display: flex;
          margin-bottom: 25px;
          button.img-btn {
            cursor: pointer;
            position: absolute;
            left: 38.5%;
            margin-top: 0.5em;
            border: none;
            background-color: transparent;
            img {
              position: relative;
            }
            img.active {
              position: relative;
              left: 34px;
            }
          }
          label.agree-title {
            margin-right: 0.3em;
            padding-top: 0.6em;
            display: flex;
            font-size: 18px;
            color: var(--disable-color);
          }
          span.pilsu {
            padding-top: 0.6em;
            color: var(--input-color) !important;
            font-weight: 600;
          }
        }

        .check-modal {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        // > .check-bg {
        //   width: 100%;
        //   height: 100%;
        //   background-color: rgba(0, 0, 0, 0.6);
        // }
        > .check-modal-wrapper {
          position: absolute;
          display: block;
          background-color: #fff;
          width: 500px;
          height: 600px;
          > .check-modal-box {
            background-color: #fff;
            padding: 15px;
            width: 15em;
            overflow: auto;
            height: 5em;
          }
          button.check-confirm-btn {
            width: 15em;
            height: 3em;
            margin: 50px;
            background-color: var(--main-key-color);
            border: none;
            border-radius: 6px;
            color: #fff;
            font-size: 22px;
            font-weight: 600;
          }
        }
        .hidden {
          display: none;
        }
      }
    }
  }

  button.join-btn {
    width: 15em;
    height: 3em;
    margin: 50px;
    background-color: var(--main-key-color);
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
  }
}
