@charset "UTF-8";
@font-face {
  font-family: "Jal_Onuel";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --main-key-color: #0c8a4e;
  --main-bg-color: #f9f9f9;
  --required-color: #de0404;
  --disable-color: #666666;
  --input-color: #d9d9d9;
}

#join-page {
  width: 100%;
  min-width: 1540px;
  height: auto;
  justify-content: center;
  align-content: center;
}

#join {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#join h1 {
  margin: 2em 0 0.5em 0;
  font-size: 32px;
  font-weight: 600;
}
#join h3 {
  float: right;
  margin: 0.5em 0 0.5em 75%;
  font-size: 18px;
  font-weight: 600;
  color: var(--disable-color);
}
#join .division-container {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  width: 84%;
  height: 65%;
  margin: 12.2px 0 13.4px 0;
}
#join span.required {
  color: var(--required-color);
  font-size: 18;
  font-weight: 600;
}
#join .join-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3em;
  padding-bottom: 2em;
  /* imaged preview */
  /* 추가될 이미지를 감싸는 요소 */
}
#join .join-wrapper .label-wrapper {
  display: flex;
  margin: 18px 0;
}
#join .join-wrapper .label-wrapper label.required-contents {
  display: flex;
  align-items: center;
  width: 10em;
  height: 4em;
}
#join .join-wrapper .label-wrapper label.required-contents h5 {
  font-size: 18px;
  font-weight: 600;
}
#join .join-wrapper .label-wrapper label.required-contents:nth-child(2) {
  display: flex;
  align-items: center;
  width: 10em;
  height: 4em;
}
#join .join-wrapper .label-wrapper label.required-contents:nth-child(2) h5 {
  font-size: 18px;
  font-weight: 600;
}
#join .join-wrapper .label-wrapper label.validator-btn {
  display: inline-block;
  width: 4em;
  height: 2em;
  margin-left: 0.5em;
  padding: 1.3em 1em 0.3em 1em;
  cursor: pointer;
  border: 2px solid var(--main-key-color);
  border-radius: 6px;
  color: var(--main-key-color);
  font-weight: 600;
  background-color: transparent;
}
#join .join-wrapper .label-wrapper input {
  width: 20em;
  height: 3.5em;
  padding-left: 10px;
  border-radius: 6px;
  border: 2px solid var(--input-color);
  color: var(--disable-color);
  font-size: 16px;
  font-weight: 600;
}
#join .join-wrapper .label-wrapper .sized-box {
  width: 100px;
}
#join .join-wrapper .label-wrapper .sized-box--pw {
  margin-left: 110px;
}
#join .join-wrapper .label-wrapper .sized-box--pwc {
  margin-left: 110px;
}
#join .join-wrapper .filebox {
  /* named upload */
  /* 파일업로드 외형 감추기 */
}
#join .join-wrapper .filebox input.upload-name {
  width: 20em;
  height: 3.5em;
  border: 2px solid var(--input-color);
  border-radius: 6px;
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}
#join .join-wrapper .filebox label.upload-btn {
  display: inline-block;
  width: 4em;
  height: 2em;
  margin-left: 0.5em;
  padding: 1.3em 0.5em 0.3em 1.5em;
  cursor: pointer;
  border: 2px solid var(--main-key-color);
  border-radius: 6px;
  color: var(--main-key-color);
  font-weight: 600;
  background-color: transparent;
}
#join .join-wrapper .filebox input[type=file] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
#join .join-wrapper .filebox .upload-display {
  /* 이미지가 표시될 지역 */
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  #join .join-wrapper .filebox .upload-display {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 0;
  }
}
#join .join-wrapper .filebox .upload-thumb-wrap {
  display: inline-block;
  width: 54px;
  padding: 2px;
  vertical-align: middle;
  border: 2px solid var(--main-key-color);
  border-radius: 5px;
}
#join .join-wrapper .filebox .upload-display img {
  display: block;
  max-width: 100%;
  width: 100% \9 ;
  height: auto;
}
#join .label-wrapper--agree {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84%;
  height: 65%;
  margin: 3em 6.5em 3em 0;
}
#join .label-wrapper--agree .required-contents {
  display: flex;
  width: 10em;
  height: 4em;
  margin: 0 50px 136px 0;
}
#join .label-wrapper--agree .required-contents h5 {
  font-size: 18px;
  font-weight: 600;
}
#join .label-wrapper--agree .check-wrapper .check-item:first-child label {
  font-size: 20px;
  font-weight: 600;
  color: var(--disable-color);
  padding-top: 0.25em;
}
#join .label-wrapper--agree .check-wrapper .check-item {
  display: flex;
  margin-bottom: 25px;
}
#join .label-wrapper--agree .check-wrapper .check-item img {
  margin: 5px 16px 0 0;
}
#join .label-wrapper--agree .check-wrapper .check-item label {
  padding-top: 0.5em;
  font-size: 16px;
  color: var(--disable-color);
}
#join button.join-btn {
  width: 15em;
  height: 3em;
  margin: 50px;
  background-color: var(--main-key-color);
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}/*# sourceMappingURL=join.css.map */