@font-face {
  font-family: "Jal_Onuel";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --main-key-color: #0c8a4e;
  --main-bg-color: #f9f9f9;
  --required-color: #de0404;
  --disable-color: #666666;
  --input-color: #d9d9d9;
}

<<<<<<< HEAD
#login {
  width: 100%;
  min-width: 1540px;
  height: auto;
  justify-content: center;
  align-content: center;
}

=======
>>>>>>> a3344e8a00e45b1abcec526c7d84c6223490ca89
#login-page .login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#login-page .login-wrapper h1 {
  margin: 2em 0 1em 0;
  font-size: 32px;
  font-weight: 600;
}
#login-page .login-wrapper--input {
  display: flex;
  flex-direction: column;
}
#login-page .login-wrapper--input input {
  width: 25em;
  height: 3.5em;
  margin: 10px;
  padding-left: 10px;
  border-radius: 6px;
  border: 2px solid var(--input-color);
  color: var(--disable-color);
  font-size: 16px;
  font-weight: 600;
}
#login-page .login-wrapper--find {
  display: flex;
  margin: 0.5em 0 0.5em 14.5em;
}
#login-page .login-wrapper--find button {
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  color: var(--disable-color);
}
#login-page .login-wrapper .btn-wrapper {
  display: flex;
  flex-direction: column;
}
#login-page .login-wrapper .btn-wrapper button {
  width: 26em;
  height: 3.5em;
  margin: 10px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
}
#login-page .login-wrapper .btn-wrapper > .login-btn {
  background-color: var(--main-key-color);
  border: none;
  color: #fff;
}
#login-page .login-wrapper .btn-wrapper > .join-btn {
  background-color: transparent;
  border: 1px solid var(--main-key-color);
  color: var(--main-key-color);
<<<<<<< HEAD
=======

>>>>>>> a3344e8a00e45b1abcec526c7d84c6223490ca89
}

footer {
  margin-top: 100px;
  color: var(--disable-color);
}
footer .footer--top {
  display: flex;
  justify-content: space-between;
  padding: 2% 12%;
  align-items: center;
  display: grid;
  -moz-column-gap: 30px;
       column-gap: 30px;
  grid-template-columns: auto auto auto auto;
  background-color: #f7f9fa;
}
footer .footer--top h1 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 75px;
}
footer .footer--top label.title {
  font-size: 18px;
  font-weight: 600;
}
footer .footer--top label.content {
  font-size: 16px;
  font-weight: 600;
}
footer .footer--top .footer--info {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}
footer .footer--top .footer--info label.title {
  margin-bottom: 10px;
}
footer .footer--top .footer--catagories {
  display: flex;
  flex-direction: column;
}
footer .footer--top .footer--catagories label {
  margin: 10px 0;
}
footer .footer--top .footer--customerCare {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}
footer .footer--top .footer--customerCare label {
  margin: 10px 0;
}
footer .footer--top .footer--pages {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}
footer .footer--top .footer--pages label {
  margin: 10px 0;
}
footer .footer--bottom {
  background-color: #e6f5ed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 20%;
}
footer .footer--bottom img {
  margin: 0 10px;
<<<<<<< HEAD
=======

>>>>>>> a3344e8a00e45b1abcec526c7d84c6223490ca89
}/*# sourceMappingURL=login.css.map */