:root {
	--main-key-color: #0c8a4e;
	--main-bg-color: #f4f6f8;
	--hightlight-font-color: #909190;
}

.my-section {
	background-color: var(--main-bg-color);
	width: inherit;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	.profile-container {
		display: flex;
		align-items: center;
		width: 50em;
		margin: 1em 0em;
		padding-left: 1em;
		.profile-box {
			width: fit-content;
			.welcome-word-box {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				height: 3.2em;
				cursor: pointer;
				.profile-image {
					width: 2.2em;
					height: 2.2em;
					padding: 1.4em 0em;
				}
				.profile-words1 {
					padding-top: 0.2em;
					margin-left: 0.6em;
					font-size: 1em;
					letter-spacing: 0.02em;
					font-weight: 600;
					text-decoration: underline;
				}
			}
			.profile-words2 {
				display: block;
				padding-top: 0.4em;
				font-size: 1em;
				letter-spacing: 0.02em;
				font-weight: 340;
			}
		}
	}
	.info-container {
		width: 50em;
		height: 100%;
		display: flex;
		.payments-container {
			width: 36em;
			display: flex;
			flex-direction: column;
			padding-right: 0.4em;

			.payment-container {
				box-shadow: 0 4px 16px 0 rgb(0 0 0 / 5%);
				background-color: #fff;
				display: inline-block;
				flex-direction: column;
				height: fit-content;
				position: relative;
				margin-bottom: 0.8em;
				padding: 1em;
				border-radius: 1em;
				box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.02);
				.payment-state-box {
					margin-bottom: 0.4em;
					.payment-state {
						font-weight: 700;
						white-space: nowrap;
						font-size: 0.8em;
					}
				}
				.payment-info-box {
					display: flex;
					align-items: center;
					.item-image {
						height: 4em;
						width: 4em;
						border-radius: 0.2em;
					}
					.item-info-box {
						display: flex;
						flex-direction: column;
						margin-left: 0.6em;
						line-height: 1em;
						.payment-date {
							font-size: 0.68em;
							color: #a4a4a4;
							font-weight: 360;
						}

						.item-name {
							font-size: 0.72em;
							font-weight: 380;
						}
						.item-price {
							font-size: 0.72em;
							font-weight: 550;
						}
						.detail-info-btn {
							font-size: 0.7em;
							font-weight: 400;
							color: var(--main-key-color);
							cursor: pointer;
						}
					}
				}

				.two-btn-box {
					margin-top: 1em;
					display: flex;
					height: 2em;

					.btn-pay-confirmed {
						flex: 1;
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 0.7em;
						font-weight: 500;
						border: 0.08em solid var(--main-key-color);
						margin-right: 0.4em;
						color: var(--main-key-color);
						border-radius: 0.3em;
						cursor: pointer;
					}

					.btn-pay-canceled {
						flex: 1;
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 0.7em;
						font-weight: 500;
						border: 0.08em solid #dcdee0;
						border-radius: 0.3em;
						cursor: pointer;
					}

					.none {
						display: none;
					}
				}

				.none {
					display: none;
				}

				.my-payment-list-delete-btn {
					position: absolute;
					top: 1em;
					right: 1em;
					height: 0.8em;
					cursor: pointer;
				}
			}
			.pagination {
				width: calc(100% - 2rem);
				display: flex;
				align-items: center;
				position: relative;
				bottom: 0;
				padding: 1rem;
				justify-content: center;

				.prev-btn {
					width: 20px;
					height: 20px;
					cursor: pointer;
				}

				.next-btn {
					width: 20px;
					height: 20px;
					cursor: pointer;
				}

				.active {
					color: #fff;
					background: #0c8a4e;
				}

				.payment-paging-btn {
					font-size: 1.2rem;
					background-color: transparent;
					border: none;
					margin: 0.25rem 0.25rem;
					cursor: pointer;
					height: 2rem;
					width: 2rem;
					border-radius: 0.2rem;
					&:hover {
						background: #fff;
					}
				}
			}
		}

		.accounts-container {
			display: flex;
			width: 14em;
			height: fit-content;
			border-radius: 16px;
			background-color: #fff;
			box-shadow: 0 4px 16px 0 rgb(0 0 0 / 5%);
			margin-left: 0.6em;
			padding: 0em 1.2em;
			flex-direction: column;
			.accounts-container-title {
				padding: 1.2em 0 0.4em;
				font-size: 0.8em;
				font-weight: 700;
				text-align: center;
				height: fit-content;
				width: inherit;
				border-bottom: 0.02em solid var(--hightlight-font-color);
			}

			.accounts-list {
				.account-container {
					margin-top: 0.1em;
					border-bottom: 0.02em solid var(--hightlight-font-color);
					position: relative;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: flex-start;
					.bank-img-box {
						display: flex;
						align-items: center;
						width: 4em;
						height: 4em;
						.bank-img {
							width: 100%;
							transform: scale(0.4);
						}
					}

					.account-info-box {
						flex: 1;
						display: flex;
						padding-left: 0.1em;
						flex-direction: column;
						line-height: 1.2em;
						.account-info {
							font-size: 0.2em;
							text-decoration: underline;
							color: var(--hightlight-font-color);
						}

						.account-balance {
							font-size: 0.8em;
							font-weight: 550;
						}
					}

					.delete-btn {
						position: absolute;
						top: 0.2em;
						right: 0.2em;
						height: 0.6em;
						cursor: pointer;
					}
				}
			}

			.add-account-btn-box {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				margin-bottom: 0.8em;
				.btn-img {
					width: 1.4em;
					margin-bottom: 0.4em;
					cursor: pointer;
				}
				.btn-title {
					font-size: 0.7em;
					font-weight: 400;
					color: var(--main-key-color);
				}
			}
		}
	}

	.modal-two {
		top: 100px;
		width: 100%;
		height: 280vh;
		background-color: #90919068;
		z-index: 0;
		position: absolute;
		margin: auto;
		display: flex;
		justify-content: center;
		align-items: start;

		.modal-two-template {
			padding: 10px 0px;
			margin-top: 50px;
			width: 351px;
			height: 490px;
			background-color: #fff;
			border-radius: 0.3em;
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-direction: column;
			position: relative;

			.profile-edit-modal {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: start;

				.profile-image-input-box {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					height: 150px;

					.profile-image {
						width: 76px;
						height: 76px;
						object-fit: cover;
						margin-bottom: 10px;
					}

					.profile-upload-btn {
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 0.7em;
						font-weight: 500;
						border: 0.08em solid var(--main-key-color);
						margin-right: 0.4em;
						color: var(--main-key-color);
						border-radius: 0.3em;
						cursor: pointer;
						height: 26px;
						width: 140px;
						margin-bottom: 5px;
					}
				}

				.input-bar-name {
					font-weight: 600;
					margin-bottom: 5px;
					color: #2f3438;
					padding-left: 3px;
				}
				.input-bar {
					height: 30px;
					width: 280px;
					border: 0.08em solid #dcdee0;
					padding-left: 5px;
					border-radius: 5px;
					margin-bottom: 24px;
				}
				.modal-btn-box {
					display: flex;
					flex-direction: column;
					.complete-btn {
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 0.7em;
						font-weight: 500;
						border: 0.08em solid var(--main-key-color);
						margin-right: 0.4em;
						color: var(--main-key-color);
						border-radius: 0.3em;
						cursor: pointer;
						height: 30px;
						width: 289px;
						margin-bottom: 5px;
					}
					.cancel-btn {
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 0.7em;
						font-weight: 500;
						border: 0.08em solid #dcdee0;
						border-radius: 0.3em;
						cursor: pointer;
						height: 30px;
						width: 289px;
					}
				}
			}

			.close-btn {
				position: absolute;
				top: 10px;
				right: 10px;
				width: 24px;
				height: 24px;
				cursor: pointer;
			}

			.banks-box {
				.bank-selected-bar {
					padding-left: 10px;
					border: 0px solid rgba(167, 160, 160, 0.3);
					border-radius: 20px;
					&:focus {
						outline: 2.6px solid var(--main-key-color);
					}
				}
			}

			.account-number-box {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				height: 65px;
				.account-number-block-box {
					border-radius: 40px;
					border: solid 1px white;
					z-index: 1;
					overflow: hidden;
					box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
					height: 50px;
					.account-input-block {
						padding-left: 10px;
						border: 0px;
						height: inherit;
						width: 50px;

						&:focus {
							outline: none;
						}
					}
				}
				.input-alert-word {
					height: 10px;
					margin-top: 5px;
					color: #6f6f6f;
					font-weight: 600;
					font-size: 12px;
				}
			}

			.card-name {
				color: #f1f1f1;
				letter-spacing: 5px;
				font-family: monospace;
				font-size: larger;
			}

			&::placeholder {
				color: #dcdee06c;
			}

			.modal-btn-box {
				display: flex;
				flex-direction: column;
				.complete-btn {
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 0.7em;
					font-weight: 500;
					border: 0.08em solid var(--main-key-color);
					margin-right: 0.4em;
					color: var(--main-key-color);
					border-radius: 0.3em;
					cursor: pointer;
					height: 35px;
					width: 289px;
					margin-bottom: 5px;
				}
				.cancel-btn {
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 0.7em;
					font-weight: 500;
					border: 0.08em solid #dcdee0;
					border-radius: 0.3em;
					cursor: pointer;
					height: 35px;
					width: 289px;
				}
			}
		}
	}

	.--hide {
		display: none;
	}
}