.payment1-total {
  padding-top: 50px;
  width: 65vw;
  margin: 0 auto;
  
}
.payment1-orderpage {
  text-align: center;
}
.payment1-h3 {
  border-bottom: 1px solid black;
}
.payment1-order-container {
  display: flex;
  flex-flow: column;
  width: 30%;
}
.payment1-account-transfer {
  display: block;
  background-color: #0C8A4E;
  color: #fff;
  border-color: #0C8A4E;
  line-height: 44px;
  text-align: center;
  appearance: none;
}
.payment1-btn {
  background-color: #0C8A4E;
  color: #fff;
  /* border-color: #0C8A4E; */
  width: 134px;
  height: 39px;
  border-radius: 2px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  border: none;
}
.payment1-payment-container {
  display: flex;
}
.payment1-text {
  margin: 5px;
  /* background-color: #D9D9D9; */
}
.payment1-lastpay-container {
  background-color: #d9d9d9;
  width: 300px;
}
.payment1-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}
/* .modal.show {
  display: block;
} */
.payment1-modal-body {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 400px;
  height: 600px;

  padding: 40px;

  text-align: center;

  background-color: rgba(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateX(-50%) translateY(-50%);
}
.payment1-modal-btn {
  width: 100px;
  height: 100px;
}
.payment1-modal-btn-close {
  width: 50px;
  height: 50px;
}