.payment1-total {
  padding-top: 50px;
  width: 65vw;
  margin: 0 auto;
  
}
.payment1-orderpage {
  text-align: center;
  font-size: 50px;
}
.payment1-h3 {
  border-bottom: 1px solid #0c8a4e;
  font-size: 30px;
  padding-bottom: 20px;
  padding-top: 50px;
  font-weight: 600;
}
.payment1-order-container {
  display: flex;
  flex-flow: column;
  /* width: 30%; */
}
.payment1-account-transfer {
  margin : 14px 0 ;
  display: block;
  background-color: #0C8A4E;
  color: #fff;
  border-color: #0C8A4E;
  line-height: 54px;
  width: 500px;
  text-align: center;
  appearance: none;
  font-size: 25px;
  border-radius: 6px;
}
.payment1-btn {
  background-color: #0C8A4E;
  color: #fff;
  /* border-color: #0C8A4E; */
  width: 300px;
  height: 39px;
  border-radius: 0 0 6px 6px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  border: none;
  font-size: 22px;
}
.payment1-payment-container {
  display: flex;
}
.payment1-text {
  margin: 9px;
  width: 110px;
  font-weight: 600;
  font-size: 18px;
  /* background-color: #D9D9D9; */
}
.payment1-lastpay-container {
  background-color: #E7E4E1;
  width: 300px;
  border-radius:6px;
  margin-top: 15px;
}
.payment1-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 178%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}
/* .modal.show {
  display: block;
} */
.payment1-modal-body {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 50%;

  width: 400px;
  height: 300px;

  padding: 40px;

  text-align: center;

  background-color: rgba(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateX(-50%) translateY(-50%);
}
.payment1-modal-btn {
  width: 100px;
  height: 200px;
}
.payment1-modal-btn-close {
  text-align: center;
  margin :50px auto;
  width: 150px;
  height: 50px;
  background-color: #0C8A4E;
  border: #0C8A4E;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  border-radius: 6px;
}
.payment1-payment-right {
  margin: 0 auto;
}
.payment1-product-wrapper {
  display: flex;
}
.payment1-modal-btn-move {
  text-align: center;
  margin :0 auto;
  width: 150px;
  height: 50px;
  background-color: #0C8A4E;
  border: #0C8A4E;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  border-radius: 6px;
}
.payment1-emtpy span {
  font-size: 20px;
  margin : 10px;
}
.payment1-how {
  margin : 9px;
}
.payment1-fail-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 178%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}
.payment1-fail-modal-btn-close {
  text-align: center;
  margin :22px auto;
  width: 150px;
  height: 50px;
  background-color: #0C8A4E;
  border: #0C8A4E;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  border-radius: 6px;
}
.payment1-fail-modal-body {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 50%;

  width: 400px;
  height: 300px;

  padding: 40px;

  text-align: center;

  background-color: rgba(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateX(-50%) translateY(-50%);
  font-size: 16.6px;
}
.payment1-fail-modal-btn {
  text-align: center;
  margin :40px auto;
  width: 150px;
  height: 50px;
  background-color: #0C8A4E;
  border: #0C8A4E;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  border-radius: 6px;
}
.payment1-orderer-wrapper {
  display: flex;
}
.payment1-email-wrapper {
  display: flex;
}
.payment1-last-account-wrapper {
  display: flex;
}
.payment1-last-total-account-wrapper {
  display: flex;
}
.payment1-last-delivery-wrapper {
  display: flex;
}
.payment1-emtpy li {
  margin : 12px 0;

}