.payment2-finish-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #F9F9F9;

}
.payment2-order-done {
  height: 300px;
}
.payment2-continue-shop {
  width: 210px;
  height: 70px;
  background-color: #2f9546;
  color: #FFF;
  cursor: pointer;
  font-size: 20px;
}
.payment2-purchase-history {
  margin-top: 50px;
  width: 210px;
  height: 70px;
  background-color: #FFF;
  cursor: pointer
}

.payment2-btn {
  margin-top: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}